body{
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    background-color: rgb(32, 30, 30);
}

.parent{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
    gap: 32px;
    border-radius: 40px;
    background-color: black;
}

.child-1{
    color: #d5d5d5;
    position: relative;
    right: 350px;
}


.child-2{

    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    gap: 80px;
    
}

.link{
    color: aliceblue;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    
}

.child-3{
    position: relative;
    left: 350px;

}


.button{
    text-align: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    color: aliceblue;
    border-radius: 28px;
    background-color: rgb(2, 1, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    border: 1px solid rgb(110, 106, 106);
    
}


.download{
    text-align: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    color: black;
    background-color: rgb(72, 73, 72);
    border-radius: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    border: 1px solid black;
}


.head{
    margin-top: 120px;
    padding: 8px;
    color : #EDECEC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.down{
    margin-left: 20px ;
}


.btn{
    text-align: center;
    justify-content: center;
    height: 60px;
    width: 250px;
    font-size: larger;
    font-weight: 120px;
    border-radius: 30px;
}

.card{
    margin-left: 40px;
    padding: 50px;
}

.img{
    border-radius: 20px;
}

.paragraph{
    margin-left: 730px;
    padding: 5px;
    
}

.para{
    color: azure;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
    margin: 20px;
    padding: 50px;
    height: 140px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 120px;
    column-gap: 20px;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1913;
    color: azure;
    font-size: 30px;
    border-radius: 8px;


}



.hero{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin: 60px;
    padding: 50px;
    background-color: rgb(55, 50, 50);
    border-radius: 20px;
}


.heros{
    max-width: 100%;
    margin-left: 60px;
    border-radius: 20px;
}

#agent{
    font-size: 35px;
    line-height: .1rem;
    color: #EDECEC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

.human{
    font-size: 25px;
    max-width: 100%;
    color: #747171;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.agent-link{
    text-decoration: none;
    font-size: 25px;
    color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.card2{
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-left: 40px;
    padding: 50px;
    background-color: rgb(55, 50, 50);
    border-radius: 20px;
}

.card-link{
    max-width: 100%;
    margin: 10px;
    border-radius: 20px;
}

.card-child-1{
    order: 2;
}

.card-child-2{
    order : 1;
}

#agent1{
    line-height: .1rem;
    color: #EDECEC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    font-size: 35px;
}

.human1{
    font-size: 25px;
    max-width: 100%;
    color: #726d6d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.agent-link1{
    text-decoration: none;
    font-size: 25px;
    color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.card3{
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-left: 40px;
    padding: 50px;
    background-color: rgb(55, 50, 50);
    border-radius: 20px;
}

.card-link1{
    max-width: 100%;
    margin-left: 60px;
    border-radius: 20px;
}

#agent2{
    line-height: .1rem;
    color: #EDECEC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    font-size: 35px;
}

.human2{
    font-size: 25px;
    max-width: 100%;
    color: #777272;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.agent-link2{
    text-decoration: none;
    font-size: 25px;
    color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.build{
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.child-build{
    color: #EDECEC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;

}


.grid{
    margin: 10px;
    padding: 20px;
    height: 640px;
    display: grid;
    grid-template-rows: repeat(2, 10fr);
    grid-template-columns: repeat(3, 10fr);
    grid-auto-rows: 120px;
    column-gap: 20px;
    row-gap: 20px;
}

.grid-child{
    padding: 20px;
    color: #EDECEC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: #2f2e2d;
    border-radius: 8px;
}


.stay{
    margin-top: 40px;
    padding: 20px;
    margin-left: 20px;
}

.child-stay{
    color: #EDECEC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;

}


.frontier{ 
    padding: 10px;
    height: 140px;
    display: grid;
    grid-template-columns: repeat(3, 15fr);
    grid-auto-rows: 700px;
    column-gap: 20px;
}

.frontier-child{
    padding: 20px;
    display: flex;
    justify-content: top;
    align-items: top;
    background-color: #1b1913;
    color: azure;
    font-size: 22px;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.blocks-h1{
    color: #EDECEC;
    margin-top: 600px;
    padding: 50px;
}


.block-parent{
    padding: 40px;
    color: #EDECEC;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 120px;
    column-gap: 20px;
    grid-auto-rows: min-content;
}

.block{
    display: bottom;
    justify-content: bottom;
    text-align: bottom;
    height: 150px;
    padding: 20px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2a2727;
    border-radius: 10px;

}

.agent4{
    margin-left: 40px;
    text-decoration: none;
    font-size: 25px;
    color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#future{
    margin-left: 40px;
    margin-top: 150px;
    font-size: 50px;
    color: #EDECEC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.join{
    margin-left: 40px;
    background-color: #EDECEC;
    color: black;
    width : 150px;
    height: 60px;
    border-radius: 30px;
    font-size: 25px;
}


.images{
    margin-left: 80px;
    margin-top: 70px;
    border-radius: 8px;
}

.try{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #EDECEC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
}

.footer{
    margin-top: 80px;
    height: 450px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    grid-auto-rows: 420px;
    column-gap: 20px;
    background-color: #1b1913;
}

.footer-child{
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    font-size: larger;
    border-radius: 8px;

}